.home {
    display: flex;
    background-color: cornflowerblue;
    color: white;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 1rem;
    font-size: 2rem;
}